body {
  font-family: Courier New;
  background-color: #4D9078;
  color: #F78154;
  text-align: center;
}

a {
  text-decoration: none;
  color: hotpink;
  background-color: lavender;
  padding: 10px;
}

div {
  padding: 5px;
}

img {
  width: 40%;
}

p {
  background-color: black;
}

#fav-num {
	color: hotpink;
  background: white;
}

#pronouns {
  color: #B4436C;
}