body {
  font-family: Gill Sans, sans-serif;
  background-color: #F78154;
  text-align: center;
}

a {
  text-decoration: none;
  color: #F2C14E;
  background-color: #B4436C;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

.link {
  margin: 20px;
  padding: 10px;
}

